







/*

   ----------------------     Group 01     ----------------------
   
   Medjadji Abdelkadir && Merabet Abdelkarim
   medjadjiabdelkadir22@gmail.com && merabet.abdelkarim.dev@gmail.com
   Semaine 2 Développent de maquettes en HTML et CSS
   Title : Fiber Network

   ----------------------     Group 01     ----------------------

*/
/*
    Notre site ne nécessite pas l'utilisation de JavaScript 
    car il ne contient tout simplement pas [ Model Pagination Carousel Collapse etc ... ]

    Mais on peut mettre le bouton quand on navigue sur le site vers le 
    bas pour revenir à l'écran du haut "Header-Section"

    -> En utilisant event "onscroll" :
        pour Masquer le bouton lorsque nous sommes sur la première Section "Header-Section"
    -> En utilisant event "onclick" :
    pour Afficher le bouton lorsque nous sommes en panne

*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .footer-section{
        /* background-color: red; */
    }
    .footer-section .logo{

    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .footer-section{
        /* background-color: aqua; */
        
    }
    .footer-section .logo{

    }
    .footer-section .logo img{

    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .footer-section{

    }
}
@media screen and (max-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .footer-section{
      
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .footer-section{
      
    }
}


/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
@media screen and (max-width: 992px){
    .footer-section{
      padding-top: 5px;
    }
    .footer-section .content{
        padding-top: 0px;
        margin-top: 5px;
    }
}
@media screen and (max-width: 600px){
    .footer-section{
      padding-top: 5px;
    }
    .footer-section .logo{
        padding-bottom: 5px;
    }

    .footer-section .logo img{
        width: 60; height: 60px;
        
    }
}
/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 1024px) and (max-width: 1280px){
   .footer-section{
    background-color: red;
   }
}

@media all and (min-width: 600px) and (max-width: 1280px){
    .footer-section{
     
    }
    .footer-section .logo img{
        width: 60; height: 60px;
    }
 }

@media all and (min-width: 1280px){
    .footer-section{
     /* background-color: rgb(0, 255, 255); */
    }
 }